tmp
build

#testing
tmp.php
foo.ihtml

#Who keeps adding this?
.DS_Store

#sublime cruft
*.sublime-project
*.sublime-workspace

# Emacs backup files
*~
\#*#
sematic.cache
# Local dev configs:
common/dev.*
# Ignore temp files:
*.tmp
# Ignore bak files:
*.bak
# API Cache
api/cache/*
# Personal Notes
/notes.org
# git subdirs
*/.git/*
*/*/.git/*
/tmp.html
.#*
*#
/.project
/.buildpath
/.settings

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi

# OS or Editor folders
.DS_Store
.cache
.project
.settings
nbproject
thumbs.db

# Dreamweaver added files
_notes
dwsync.xml

# Folders to ignore
.hg
.svn
publish
.idea

# build script local files
build/buildinfo.properties
build/config/buildinfo.properties
